<h1>こちらはbooklistsで生成した投稿用画面</h1>
<h3>第６章</h3>
<h6>タブはファイル名　URLはbooklists/new</h6>
<P>ちなみに、htmlを変更した場合はcontrol+cで一回抜ける必要ない</P>
<!-- form_for部分 -->
<%= form_for(@book, url:'/booklists') do |f| %>

<h4>本のタイトル</h4>
<%= f.text_field :title %>

<h5>本の紹介文</h5>
<%= f.text_area :body %>

<%= f.submit 'Update' %>

<% end %>

